<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{project?.name}}
    </mat-card-title>
    <mat-card-subtitle>
      Created: {{ project?.created | date }}
    </mat-card-subtitle>
    <mat-card-subtitle>
      Updated: {{ project?.updated | date }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <button mat-raised-button routerLink="/timesheet/{{ project?.id }}">Timesheet</button>
  </mat-card-actions>

  <mat-card-content>
    {{project?.description}}
  </mat-card-content>

</mat-card>
