<ng-container *ngIf="list.length; else noProjectsTemplate">
  <mat-list>
    <mat-list-item *ngFor="let project of list"
                   [routerLink]="project.id">
      <h3 mat-line>{{ project.name }}</h3>
      <p mat-line>Created: {{ project.created | date }}</p>
    </mat-list-item>
  </mat-list>
</ng-container>

<ng-template #noProjectsTemplate>
  <mat-card  id="no-projects">
    <mat-card-header>
      <mat-card-title>
        No projects available
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button routerLink="create">
        Create project
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
