<mat-card>
  <mat-card-header>
    <mat-card-title>
      Time sheet for: {{ project?.name }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p-timesheet-entry *ngIf="project && project.timeEntries"
                       [projectId]="project.id"
                       [entries]="project?.timeEntries">
    </p-timesheet-entry>

    <mat-list>
      <mat-list-item *ngFor="let entry of project?.timeEntries">
        <p mat-line>Start time: {{entry?.startTime | date: 'HH:mm dd/MM-yyyy'}}</p>
        <p *ngIf="entry?.hourlyRate" mat-line>Hourly rate: {{entry?.hourlyRate}}</p>
        <p mat-line>End time:{{entry?.endTime | date: 'HH:mm dd/MM-yyyy'}}</p>
        <p mat-line>Comment: {{ entry?.comment }}</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
